
<div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class="form-group">
      <label for="producttitle">producttitle</label>
      <input type="text" class="form-control" id="producttitle" #producttitle>
    </div>
    <div class="form-group">
      <label for="dproduct">dproduct</label>
      <input type="text" class="form-control" id="dproduct" #dproduct>
    </div>
    <div class="text-right mb-4">
      <button class="mr-4" mat-raised-button color="primary"
      (click)="onprodcutadd('product')">product Add</button>
      <button class="btn btn-info" 
      (click)="onprodcutadd('catalog')">catalog Add</button>
    </div>
    </div>
    <div class="col-md-6">
      <app-productcard [getdatformparent]="productarray" 
       ></app-productcard>
    </div>
  </div>
</div>


